/* css document*/
html,body{
    height: 100%
}
.content1aboutus {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: table;
}
.fontaboutus{
  font-size: 300;
  font-family: fantasy;
  font-stretch: expanded;
  font-weight: bolder;
  font-kerning: auto;
  font-variant-position: super;
}

.contentaboutus{
  position: relative;
  background: white;
  width:60%;
  padding:40px;
  margin:100px auto;
  font-family:serif;
  border-radius:10px;
  opacity: 0.8;
}
.headaboutus{
  font-size: 50px;
}
p
{
  align-self: flex-end;
  font-size:30px;
  color:black;
}
.scroll-bgaboutus {
  background-color: #0f0f0a;
  padding: 10px 70px;
  color: #676767;
}
.bg1AU {
  background-image: url('photo.jpg');
}
.bg2AU {
  background-image: url('photo1.jpg');
}
.bg3AU {
  background-image: url('photo2.jpg');
}
.bg4AU {
  background-image: url('photo3.jpg');
}
.bg5AU {
  background-image: url('photo4.jpg');
}
.bg0AU{

  background-image: url('photo9.jpg');
}


.posaboutus{
top: 50%;
left: 50%;
font-size:50px;
color:white;
margin-top: 1000px; /* Half the height */
margin-left: 10px;

}
