@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    margin: 0rem;
    padding: 0rem;
}

.nav-container {
    padding: 1.2rem;
}

.home {
    background-image: url("../img/Desire_Home_Picture_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content {
    margin-left: 5rem;
}

.home .content h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin: 2rem;
    margin-left: 0rem;
}

.home .content h3 {
    font-family: 'Spectral', serif;
    font-weight: 300;
    font-size: 1.4rem
}

a.btn {
    background-color: #b71c1c;
    color: white;
}

a.btn:hover {
    color:white;
}

.carousel {
    margin: 6rem;
}

/* MISSION AREA */

.mission-vision-container .mission-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-vision-container .mission-container .blue {
    color: white;
    background-color: #1a237e;
    width: 60%;
    padding-left: 2rem;
    padding-right: 20rem;
    padding-bottom: 5rem;
}

.mission-vision-container .mission-container .blue h1 {
    margin-top: 4rem;
    font-family: 'Spectral', serif;
}

.mission-vision-container .mission-container .blue h5 {
    font-family: 'Spectral', serif;
    font-weight: 300;
}

.mission-vision-container .mission-container .white img {
    width: 38rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    left: -10rem
}

.mission-vision-container .vision-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-vision-container .vision-container .white {
    width: 60%;
}

.mission-vision-container .vision-container .blue {
    background-color: #1a237e;
    width: 40%;
}

/* VISION AREA */

.mission-vision-container .vision-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-vision-container .vision-container .blue {
    color: white;
    background-color: #1a237e;
    width: 60%;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

.mission-vision-container .vision-container .blue h1 {
    margin-top: 4rem;
    font-family: 'Spectral', serif;
    margin-left: 20rem;
}

.mission-vision-container .vision-container .blue h5 {
    font-family: 'Spectral', serif;
    font-weight: 300;
    margin-left: 20rem;
}

.mission-vision-container .vision-container .white img {
    width: 38rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    left: 10rem
}


.mission-vision-container .vision-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-vision-container .vision-container .white {
    width: 40%;
}

.mission-vision-container .vision-container .blue {
    background-color: #1a237e;
    width: 60%;
}




@media screen and (max-width: 1200px) {
    .home .content {
        margin-left: 1.2rem;
    }

    .carousel {
        margin: 1rem;
    }

    /* MISSION AREA */

    .mission-vision-container .mission-container {
        flex-direction: column;
        margin: 0rem;
    }

    .mission-vision-container .mission-container .blue {
        width: 100%;
        padding: 0rem;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    .mission-vision-container .mission-container .blue h1 {
        margin-top: 2rem;
    }

    .mission-vision-container .mission-container .white {
        width: 100%;
        padding: 0rem;
    }

    .mission-vision-container .mission-container .white img {
        width: 100%;
        padding: 0rem;
        position: static;
    }

    /* VISION AREA */

    .mission-vision-container .vision-container {
        flex-direction: column-reverse;
    }

    .mission-vision-container .vision-container .blue {
        width: 100%;
        padding: 2rem;
    }

    .mission-vision-container .vision-container .blue h1 {
        margin: 0rem;
    }

    .mission-vision-container .vision-container .blue h5 {
        margin: 0rem;
    }

    .mission-vision-container .vision-container .white {
        width: 100%;
    }

    .mission-vision-container .vision-container .white img {
        padding: 0rem;
        width: 100%;
        position: static;
    }   


}