@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    margin: 0rem;
    padding: 0rem;
}

.nav-container {
    padding: 1.2rem;
}

.home {
    background-image: url("../img/Desire_Home_Picture_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content {
    margin-left: 5rem;
}

.home .content h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin: 2rem;
    margin-left: 0rem;
}

.home .content h3 {
    font-family: 'Spectral', serif;
    font-weight: 300;
    font-size: 1.4rem
}