nav {
    margin: 0rem;
    padding: 0rem;
    background-color: white;
}

nav ul {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

}

nav ul li {
    padding: 1.2rem;
    padding-bottom: 0.8rem;
    font-family: 'Spectral', serif;
    font-size: 1.1rem;
}

nav ul li:hover {
    color: white;
    background-color: #b71c1c;
    transition: 0.3s;
}

nav ul li.name {
    flex:1;
    font-size: 1.5rem;
}

nav ul li.name:hover {
    color: black;
    background-color: white;
}

nav ul li .menu-icon {
    display: none;
    float: right;
    padding: 0.2rem;
}

nav ul li.visible {
    display: block;
}

@media screen and (max-width:1200px) {
    nav ul li {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li .menu-icon {
        display: block;
    }
    
    nav ul li.name {
        display: block;
        font-size: 1.2rem;
    }    
}